@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "sass:color";
.section {
    padding: 80px 0;
    background-color: #fff;

    @include md {
        padding: 50px 0;
    }
}

.header {
    text-align: center;
    margin-bottom: 40px;

    h2 {
        font-size: 36px;
        font-weight: 700;
        color: var(--dark-color);
        margin-bottom: 15px;

        @include md {
            font-size: 28px;
        }
    }

    p {
        color: var(--text-color);
        font-size: 16px;
        max-width: 600px;
        margin: 0 auto;
    }
}

.viewAll {
    text-align: center;
    margin-top: 40px;

    .btn {
        display: inline-block;
        padding: 12px 30px;
        background-color: var(--primary-color);
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: 600;
        transition: all 0.3s ease;

        &:hover {
            background-color: color.adjust(#fe0009, $lightness: -10%);

        }
    }
}
