@use "variables" as *;
@use "mixins" as *;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 16px;
    letter-spacing: 0;
    color: var(--text-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    position: relative;
    background-color: var(--white-color);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 1rem 0;
    font-weight: 600;
    color: var(--dark-color);
    line-height: 1.2;
}

a {
    @include transition;
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--primary-color);

    &:hover,
    &:active,
    &:focus {
        color: var(--secondary-color);
        text-decoration: none;
    }
}

img {
    border-style: none;
    vertical-align: middle;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.ulStyle {
    position: relative;
}

.ulStyle li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
}

.ulStyle li::before {
    content: "";
    position: absolute;
    // background-image: url(/assets/images/check.svg);
    // Replacement with data URI (check icon)
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fe0009' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    height: 25px;
    width: 25px;
    border-radius: 70%;
    left: 0;
    top: 2px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    @include transition;
}

.container-mid {
    position: relative;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.bg-light {
    background: #f8f9fa;
}

/* ---------------------------- Theme Heading CSS Start --------------------------- */

.main-heading {
    position: relative;
    margin-bottom: 25px;
    z-index: 1;
    margin: 0 auto 0px;

    h2 {
        font-size: 28px;
        position: relative;
        display: inline-block;
        z-index: 1;
        line-height: 1.3;
        padding-right: 20px;
        text-transform: capitalize;
        color: var(--dark-color);
        margin-bottom: 10px;

        @include md {
            font-size: 22px;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 30px;
        }
    }

    .sub-head {
        font-weight: 600;
        color: var(--primary-color);
        font-size: 16px;
        text-transform: capitalize;
    }

    &.heading-dark {
        h2 {
            color: var(--primary-color);
        }

        p {
            color: var(--secondary-color);
        }
    }

    &.heading-light {
        h2 {
            color: var(--light-color);
        }

        p {
            color: var(--light-color);
        }
    }
}
