@import "variables";

*, :after, :before {
    box-sizing: border-box;
}

html {
    font-family: $font-family-sans;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    margin: 0;
    font-family: $font-family-sans;
    font-size: 1rem;
    line-height: 1.5;
    color: $color-text-main;
    text-align: left;
    background-color: $color-white;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: $color-primary;
    text-decoration: none;
    background-color: transparent;
    transition: color 0.15s ease-in-out;

    &:hover {
        color: $color-primary-dark;
        text-decoration: underline;
    }
}

img {
    border-style: none;
    vertical-align: middle;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media(min-width: $breakpoint-sm) {
        max-width: 640px;
    }
    @media(min-width: $breakpoint-md) {
        max-width: 720px;
    }
    @media(min-width: 992px) {
        max-width: 960px;
    }
    @media(min-width: 1200px) {
        max-width: 1440px;
    }
}
