:root {
    --grey300: #dee2e6;
    --grey600: #6c757d;
    --grey900: #212529;
    --black: #000000;
    --border-radius: 0.25rem;
    --topBanner-background: var(--light);
    --topBanner-color: #000;
    --topBanner-autocomplete-border-radius: 8px;
    --header-background-color: #ffffff;
    --header-background-color-lg: var(--header-background-color);
    --header-background-gradient: none;
    --header-navbar-padding: 0.5rem;
    --header-logo-height-xs: 51px;
    --header-logo-height-md: 50px;
    --header-logo-height-xl: 60px;
    --header-logo-maxWidth-xs: 150px;
    --header-logo-maxWidth-md: 200px;
    --header-logo-maxWidth-xl: 200px;
    --header-navLink-color: #212529;
    --header-navLink-color-lg: var(--header-navLink-color);
    --header-navLink-fontWeight: 400;
    --header-navLink-textTransform: none;
    --header-navLink-padding: 0.5rem 1rem;
    --header-navLink-fontSize-xs: 1rem;
    --header-navLink-fontSize-lg: 0.8rem;
    --header-navLink-fontSize-xl: 1rem;
    --header-navLink-active-color: var(--primary);
    --header-navLink-hover-color: var(--primary);
    --header-navLink-hover-background: none;
    --header-navLink-hover-textDecoration: none;
    --header-navLink-borderRadius: 0.25rem;
    --header-navbarToggler-background: #838383;
    --header-navbarToggler-border-color: var(--header-navbarToggler-background);
    --header-modelDropdownItem-textAlign: center;
    --header-modelDropdownItem-height-xs: 125px;
    --header-modelDropdownItem-height-lg: 175px;
    --header-models-text-color: inherit;
    --header-models-hover-color: #000;
    --header-models-hover-background-color: #eee;
    --header-models-img-transform: none;
    --header-large-sell-my-car-btn-color: var(--primary);
    --header-large-sell-my-car-btn-color-hover-bg: var(--primary);
    --header-large-sell-my-car-btn-hover-color: #fff;
    --header-large-sell-my-car-border-radius: 4px;
    --header-brandbox-background: #fff;
    --header-brandbox-filter: none;
    --header-brandbox-background-hover: var(--grey300);
    --header-box-shadow: 0 5px 3px -3px rgba(0,0,0,.15);
    --header-social-icon-color: inherit;
    --header-large-sqaure-navbar-borders: 1px solid #dee2e6;
    --header-lower-level-background-color: #fff;
    --header-lower-level-border: 1px solid #fff;
    --header-navDropdownMenu-background: #fff;
    --header-navDropdownMenu-backdrop-filter: none;
    --header-navDropdownMenu-borderRadius: 0.25rem;
    --header-navDropdownMenu-border: 1px solid rgba(0,0,0,.15);
    --header-navDropdownMenu-padding: 0.5rem 0;
    --header-navDropdownMenu-margin: 0.125rem 0 0 0;
    --header-navDropdownMenu-boxShadow: none;
    --header-navDropdownMenu-fontSize: unset;
    --header-megaMenu-margin: 2rem 0 0 0;
    --header-navDropdownCollapse-padding: 0.5rem 0;
    --header-navDropdownCollapse-margin: 0 0 0 0;
    --header-navDropdownCollapse-background: #fff;
    --header-navDrawerDropdown-background: #fff;
    --header-navDrawerDropdown-padding: 0.5rem 0;
    --header-navDrawerDropdown-margin: 0.125rem 0 0 0;
    --header-navDrawer-background: var(--header-background-color);
    --header-navDrawer-logo-max-width: 220px;
    --header-navDrawer-width-md: 336px;
    --header-navbar-bottom-border: none;
    --dropdown-item-color: #000;
    --dropdown-item-hover-background: var(--primary);
    --dropdown-item-hover-color: #fff;
    --dropdown-item-padding: 0.25rem 1.5rem;
    --dropdown-item-decoration: none;
    --dropdown-item-border-bottom: 0;
    --dropdown-item-hover-border-bottom: 0;
    --dropdown-item-hover-font-weight: 400;
    --dropdown-item-text-transform: none;
    --drawer-dropdown-item-color: #000;
    --drawer-dropdown-item-hover-background: var(--primary);
    --drawer-dropdown-item-hover-color: #fff;
    --drawer-dropdown-item-padding: 0.25rem 1.5rem;
    --drawer-dropdown-item-decoration: none;
    --drawer-dropdown-item-text-align: inherit;
    --megaMenu-background: #fff;
    --megaMenu-color: #000;
    --megaMenu-content-justifyContent: flex-start;
    --floatingMenu-color: #fff;
    --floatingMenu-borderRadius: 0;
    --floatingMenu-background: var(--primary);
    --floatingMenu-hover-color: var(--primary);
    --stock-newArrival-background: var(--primary);
    --breadcrumb-background: #e9ecef;
    --breadcrumb-color: #040404;
    --search-listings-background: var(--light);
    --search-listings-color: #040404;
    --search-slider-label-color: #040404;
    --search-slider-range-color: var(--primary);
    --search-slider-color: var(--secondary);
    --search-slider-track-color: var(--primary);
    --search-listings-pagination-link-border: 1px solid #c4c8d8;
    --search-listings-pagination-disabled-link-color: #a5abc4;
    --search-listings-pagination-link-color: var(--primary);
    --search-listings-pagination-link-hover-color: var(--primary);
    --search-listings-pagination-selected-background-color: var(--primary);
    --search-listings-pagination-selected-border-color: var(--primary);
    --search-listings-pagination-selected-color: #fff;
    --search-listings-pagination-selected-hover-color: #fff;
    --refinement-list-hover-background: #dee2e6;
    --refinement-list-hover-color: none;
    --refinement-list-background: none;
    --refinement-list-color: inherit;
    --search-panel-color: #000;
    --search-panel-border-bottom: 1px solid #e8e8e8;
    --sort-by-tabs-background: transparent;
    --sort-by-tabs-indicator-background: var(--primary);
    --sort-by-tabs-indicator-active-color: var(--primary-foreground);
    --primary-gradient-start: var(--primary);
    --primary-gradient: #000;
    --primary-faded: rgba(254,0,9,.2);
    --primary-brightened: #ff3239;
    --primary-darkened: color-mix(in srgb,var(--primary),#000 30%);
    --search-important-background: var(--primary);
    --search-important-variant-category-hover-background: var(--primary);
    --search-important-variant-category-hover-color: #fff;
    --search-important-variant-category-text-color: inherit;
    --search-important-variant-category-text-hover-color: inherit;
    --search-important-variant-attributes-box-shadow: none;
    --search-important-variant-attributes-hover-background: var(--primary);
    --search-important-variant-attributes-hover-box-shadow: rgba(99,99,99,.8) 0px 2px 8px 0px;
    --search-important-variant-title: 1.5rem;
    --search-important-variant-title-color: inherit;
    --facet-variant-image-filter: none;
    --facet-variant-label-color: inherit;
    --facet-variant-label-hover-color: #fff;
    --facet-variant-small-text-hover-color: #fff;
    --facet-variant-count-color: var(--secondary);
    --facet-variant-count-hover-color: #fff;
    --favourite-car-search-item-background: #fff;
    --favourite-car-search-item-car-model-color: var(--dark);
    --favourites-switch-absolute-transform: translateY(-50%);
    --slider-dots-height: 15px;
    --slider-dots-width: 15px;
    --slider-dots-borderRadius: 50%;
    --slider-dots-background: #fff;
    --slider-dots-opacity: 1;
    --slider-dots-border: 3px solid #fff;
    --slider-dots-active-background: transparent;
    --slider-dots-active-border: 3px solid var(--primary);
    --slider-dots-active-opacity: 1;
    --slider-dots-active-width: var(--slider-dots-width);
    --slider-dots-bottom: 14px;
    --slider-dots-top: none;
    --slider-slide-background-color: unset;
    --header-height-sm: 156px;
    --header-height-lg: 145px;
    --testDriveQuiz-option-active-background: var(--primary);
    --testDriveQuiz-option-hover-background: var(--primary);
    --testDriveQuiz-option-border: 1px solid var(--primary);
    --testDriveQuiz-model-option-image-height: 75px;
    --testDriveQuiz-model-option-image-width-lg: 150px;
    --hero-button-background-color: var(--primary);
    --hero-button-background-secondary-color: var(--primary);
    --hero-button-text-color: #fff;
    --hero-button-text-color-hover: #fff;
    --hero-filter-buttons-background-color: var(--primary);
    --hero-filter-container-background-color: rgba(0,0,0,.5);
    --hero-filter-container-border-color: var(--hero-filter-buttons-background-color);
    --hero-filter-text-color: none;
    --hero-overlay-background-color: rgba(0,0,0,.3);
    --hero-search-overlay-background: inherit;
    --hero-search-button-border-radius: 0;
    --hero-search-button-color: #fff;
    --hero-search-box-border-radius: 4px;
    --hero-search-box-shadow: none;
    --hero-pre-approval-box-background: rgba(0,0,0,.55);
    --hero-pre-approval-box-border-radius: 4px;
    --hero-pre-approval-box-shadow: none;
    --hero-pre-approval-box-btn-color: #fff;
    --hero-pre-approval-box-btn-border-radius: 0;
    --hero-pre-approval-box-border: 1px solid hsla(0,0%,100%,.35);
    --hero-search-box-border: 1px solid hsla(0,0%,100%,.35);
    --hero-darkoverlay-background-color: rgba(0,0,0,.4);
    --hero-carousel-overlay-color: rgba(0,0,0,.4);
    --hero-height-sm: 500px;
    --hero-height-lg: 600px;
    --hero-max-height: 100vh;
    --hero-img-mob-display: none;
    --hero-full-height-overlay-background: transparent;
    --hero-full-height-overlay-height: calc(100vh - 231px);
    --hero-full-height-overlay-justify-content: flex-end;
    --vehicle-search-form-inner-box-shadow-lg: none;
    --vehicle-search-form-outer-container-lg: #fff;
    --vehicle-search-form-header-color: #fff;
    --hero-slide-heading-color: #fff;
    --hero-slider-background: var(--primary);
    --hero-slider-background-blur: none;
    --hero-slider-search-container-border-radius: 5px;
    --hero-slider-outline: none;
    --hero-slider-innerSearchContainer-borderRadius-sm: 10px;
    --hero-slider-innerSearchContainer-borderRadius-lg: 5px;
    --hero-slider-search-btn-border-radius: 5px;
    --hero-slide-button-background-background: var(--primary);
    --hero-slider-popular-text-color: #fff;
    --hero-slider-popular-btn-bg-hover: #fff;
    --hero-slider-popular-btn-color-hover: #000;
    --hero-slider-popular-btn-color: #fff;
    --hero-slider-popular-btn-borderRadius: 0rem;
    --hero-slider-popular-btn-background: none;
    --hero-slider-popular-btn-border: 1px solid #dee2e6;
    --hero-slider-full-width-container-background: none;
    --hero-slider-search-container-lg-marginTop: -40px;
    --hero-overlay-search-background-color: rgba(0,0,0,.5);
    --hero-search-bottom-img-width: 100%;
    --hero-search-bottom-img-height: auto;
    --hero-search-bottom-img-width-lg: 100%;
    --hero-search-bottom-background: #fff;
    --hero-search-bottom-lg-background: #fff;
    --hero-search-bottom-img-height-lg: auto;
    --hero-search-bottom-heading-color: #000;
    --hero-search-bottom-popular-btn-bg: #fff;
    --hero-search-bottom-popular-btn-color: #000;
    --hero-search-bottom-heading-font-size-lg: 3rem;
    --hero-search-bottom-heading-margin-bottom: 1rem;
    --hero-search-bottom-search-btn-border-radius: 5px;
    --hero-search-bottom-heading-font-size-base: 10rem;
    --hero-search-bottom-popular-btn-color-hover: #fff;
    --hero-search-bottom-subHeading-color: #3b3b3b;
    --hero-search-bottom-search-container-border-radius: 8px;
    --hero-search-bottom-popular-btn-bg-hover: var(--primary);
    --hero-search-bottom-button-background-background: var(--primary);
    --hero-slider-search-container-padding: 1rem 2rem 0.5rem 2rem;
    --hero-slider-search-container-box-shadow: rgba(50,50,93,.25) 0px 13px 27px -5px,rgba(0,0,0,.3) 0px 8px 16px -8px;
    --hero-slider-innerSearchContainer-height: 4rem;
    --hero-slider-innerSearchContainer-box-shadow: none;
    --hero-slider-innerSearchContainer-border: none;
    --hero-slider-search-btn-color: #fff;
    --hero-slider-search-btn-hover-color: #fff;
    --hero-slider-search-btn-hover-background: var(--primary);
    --hero-slider-search-btn-fontSize-sm: 1rem;
    --hero-slider-search-btn-fontSize-md: 1rem;
    --hero-slider-search-btn-fontSize-lg: 1rem;
    --hero-slider-search-btn-fontSize-xl: 1rem;
    --hero-slider-search-sort-container-background: rgba(0,0,0,.5);
    --hero-slider-bodySelect-hover-background: var(--primary-faded);
    --hero-slider-bodySelect-selected-background: var(--primary-faded);
    --hero-slider-bodySelect-cross-color: var(--primary);
    --hero-slider-bodySelect-hover-text-color: inherit;
    --hero-slider-bodySelect-selected-text-color: inherit;
    --hero-no-search-background: #fff;
    --hero-no-search-lg-background: #fff;
    --hero-no-search-heading-color: #000;
    --hero-no-search-heading-font-size-lg: 3rem;
    --hero-no-search-heading-margin-bottom: 1rem;
    --hero-no-search-heading-font-size-base: 10rem;
    --hero-no-search-subHeading-color: #3b3b3b;
    --hero-no-search-img-width: 100%;
    --hero-no-search-img-height: auto;
    --hero-no-search-img-width-lg: 100%;
    --hero-no-search-img-height-lg: auto;
    --hero-no-search-img-margin: 0;
    --hero-no-search-column-wrapper-padding-bottom-xl: 1rem;
    --hero-search-card-img-background: none;
    --hero-search-card-diagonal-cut-bottom: -30%;
    --hero-search-card-diagonal-cut-bottom-2000px: var(--hero-search-card-diagonal-cut-bottom);
    --hero-search-card-diagonal-cut-opacity: 1;
    --hero-search-card-pointer-image-background: none;
    --hero-search-card-search-box-margin-top-lg: 10rem;
    --arrows-size: 2.5rem;
    --arrows-borderRadius: 50%;
    --arrow-position-top: 50%;
    --arrow-position-top-xl: 50%;
    --arrow-position-top-lg: 50%;
    --arrow-position-translate-y: translateY(-50%);
    --arrows-color: var(--primary);
    --arrows-background: var(--primary-faded);
    --arrows-hover-background: var(--primary);
    --arrows-border: unset;
    --models-intro-background: transparent;
    --models-intro-color: #000;
    --models-form-background: #fff;
    --models-stockPreview-background: #fff;
    --models-features-odd-background: #ebebec;
    --models-features-even-background: #fff;
    --models-features-default-background: #fff;
    --models-features-default-color: #000;
    --models-features-default-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    --models-features-default-border: 1px solid #dee2e6;
    --model-dropdown-container-heading-display: block;
    --model-dropdown-container-margin-top: 2px;
    --model-dropdown-container-margin-top-xl: 2px;
    --model-dropdown-container-background-color: #fff;
    --model-dropdown-container-background-color-lg: var(--model-dropdown-container-background-color);
    --model-dropdown-container-border-top: 1px solid #dee2e6;
    --model-dropdown-container-border-bottom: 1px solid #dee2e6;
    --model-dropdown-container-border-left: none;
    --model-dropdown-container-border-right: none;
    --model-dropdown-container-border-radius: unset;
    --model-dropdown-container-backdrop-filter: none;
    --models-features-col6-border: 1px solid #dee2e6;
    --models-features-col6-boxShadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    --models-features-col6-textAlign: center;
    --models-features-col6-text-padding: 1rem;
    --models-features-col6-text-title-color: #000;
    --models-features-col6-image-border-radius: 0;
    --model-colours-scale: 1.8;
    --instantSell-background: linear-gradient(to right,var(--primary-darkened),var(--primary));
    --instantSell-background-logo: linear-gradient(to right,var(--primary-darkened),var(--primary));
    --instantSell-icons-background: #fff;
    --instantSell-icons-border: 1px solid var(--primary);
    --instantsell-description-color: #fff;
    --instantSell-bannerTwo-text-color: #fff;
    --trade-in-questions-background: inherit;
    --google-reviews-background: #f0f3f8;
    --google-reviews-border-radius: 0.5rem;
    --google-reviews-heading-color: var(--primary);
    --google-reviews-subheading-color: #000;
    --google-reviews-card-text-color: #000;
    --google-reviews-active-background-color: var(--primary);
    --google-reviews-active-text-color: #fff;
    --google-reviews-active-date-text-color: #000;
    --google-reviews-active-link-color: #ffb542;
    --google-reviews-inactive-link-color: var(--primary);
    --google-reviews-avatar-name-color: #000;
    --google-reviews-star-container-background-color: var(--primary);
    --google-reviews-star-color: #fff;
    --car-page-background: #fff;
    --car-page-color: none;
    --car-sidebar-background: var(--light);
    --car-sidebar-price-type: #6c757d;
    --car-info-content-color: #6c757d;
    --car-card-background: var(--dark);
    --car-sticky-header-background: #fff;
    --car-sticky-header-color: #000;
    --car-sidebar-location-link-color: var(--primary);
    --search-sticky-header-background: #fff;
    --sticky-share-text-color: var(--secondary);
    --sticky-share-background-color: #fff;
    --sticky-share-text-title-color: var(--foreground);
    --sticky-share-text-border-radius: var(--border-radius);
    --carSidebar2-background: #222;
    --carSidebar2-color: #fff;
    --vehicle-social-share-facebook-color: #4267b2;
    --vehicle-social-share-twitter-color: #1da1f2;
    --vehicle-social-share-whatsapp-color: #075e54;
    --vehicle-social-share-mail-color: inherit;
    --vehicle-social-share-message-color: inherit;
    --vehicle-social-share-link-color: #000;
    --unchecked-circle-background: #fff;
    --unchecked-circle-border: #bbb;
    --checked-circle-outer-background: #fff;
    --checked-circle-outer-border: var(--primary);
    --checked-circle-inner-background: var(--primary);
    --checked-circle-inner-border: var(--primary);
    --car-search-item-background: #fff;
    --car-search-item-border: 1px solid var(--grey300);
    --carSearchItemDetails-boxShadow: rgba(0,0,0,.3) 0px 2px 4px 0px;
    --carSearchItemDetails-borderTop: 2px solid var(--primary);
    --carSearchItem-locationOverlayBlock-background: var(--dark);
    --carSearchItem-locationOverlayBlock-color: #fff;
    --carSearchItem-locationOverlayBlock-icon-color: #fff;
    --breadcrumb-link-hover-color: var(--primary);
    --quiz-background: var(--primary);
    --footer-background: var(--light);
    --footer-border-top: none;
    --footer-border-bottom: none;
    --footer-color: #6c757d;
    --footer-logo-color: var(--footer-color);
    --footer-hover-color: var(--footer-color);
    --footer-hover-textDecoration: underline;
    --footer-headings-color: #000;
    --footer-headings-marginBottom: 1rem;
    --footer-headings-fontSize: 1.1rem;
    --footer-headings-fontWeight: 600;
    --footer-headings-textTransform: none;
    --footer-headings-font-family: inherit;
    --footer-headings-border-top: none;
    --footer-headings-padding: unset;
    --footer-li-fontSize: 1rem;
    --footer-logo-height: 50px;
    --footer-logo-width: 150px;
    --footer-image-height: 50px;
    --footer-menu-item-top-margin: none;
    --footer-hr-border-top: none;
    --footer-hr-width: none;
    --footer-hr-margin: none;
    --footer-hr-border-radius: none;
    --footer-text-align-sm: unset;
    --subFooter-background: #fff;
    --subFooter-color: #6c757d;
    --heroStoredSavedCars-background-overlay: #080808;
    --heroStoredSavedCars-bottom-background-color: #fff;
    --heroStoredSavedCars-angle-opacity: 1;
    --heroStoredSavedCars-angle-value: 5deg;
    --heroStoredSavedCars-padding-top-xl: 0;
    --heroStoredSavedCars-padding-top-lg: 0;
    --heroStoredSavedCars-padding-top-xs: 0;
    --carSearchItem-small-font-family: Arial,sans-serif!important;
    --carSearchItem-small-font-background: #343a40;
    --first-tab-background-color: var(--dark);
    --first-tab-text-color: #fff;
    --other-tabs-border-color: var(--dark);
    --other-tabs-text-color: var(--dark);
    --finance-text-color: var(--primary);
    --valuationWizard-form-width: 100vw;
    --valudationWizard-form-borderRadius: 0;
    --valuationWizard-form-backgroundColor: #fff;
    --valuationWizard-form-color: #000;
    --landing-background-colour-primary: var(--dark);
    --landing-background-colour-secondary: #fff;
    --landing-content-margin-top: -35px;
    --location-hero-map-background-color: var(--light);
    --location-hero-map-border: none;
    --location-hero-map-border-radius: 0;
    --location-card-large-background-color: #fff;
    --location-card-large-padding-mobile: 0;
    --location-card-large-padding-desktop: 0;
    --location-card-background-color: #fff;
    --location-card-border: #fff;
    --location-card-box-shadow: none;
    --location-info-heading-color: false;
    --location-info-detail-color: var(--primary);
    --location-info-heading-font-size: 1.75rem;
    --location-info-heading-text-align: left;
    --location-info-heading-margin-bottom: 1rem;
    --location-info-list-color: var(--muted);
    --location-card-large-divider-display: block;
    --location-info-hours-color: var(--secondary);
    --location-info-phone-color: var(--primary);
    --location-info-address-color: var(--primary);
    --location-info-dealer-license-color: var(--secondary);
    --location-box-info-link-color: var(--primary);
    --tiktok-odd-order: 0;
    --tiktok-even-order: 1;
    --tik-tok-heading-color: var(--primary);
    --google-map-marker-color: var(--primary);
    --google-map-marker-color-selected: var(--secondary);
    --stepper-extra-line: #fff;
    --stepper-active-color: var(--primary);
    --success-page-background: #fff;
    --success-page-color: none;
    --animated-cards-overlay-background: rgba(0,0,0,.6);
    --body-search-h4-color: inherit;
    --body-search-count-color: var(--secondary);
    --finance-calc-text-color: #000;
    --finance-calc-sort-container-background: #000;
    --finance-calc-sort-container-active-background: var(--primary);
    --budget-search-btn-border-radius: 0;
    --budget-serch-btn-box-shadow: none;
    --budget-search-background-color: unset;
    --budget-search-amount-color: var(--primary);
    --brand-box-box-shadow: none;
    --brand-block-padding: 2rem 1rem 2rem 1rem;
    --brand-block-img-card-container-max-width: 75%;
    --brand-box-border-radius: 0.5rem;
    --brand-box-padding-base: 1.25rem 0.75rem;
    --brand-box-padding-md: 1.5rem 0.75rem;
    --brand-box-padding-lg: 2rem 1rem;
    --brand-box-padding-xl: 2rem 1rem;
    --brand-box-background: #fff;
    --brand-box-border: none;
    --brand-box-width-base: 60px;
    --brand-box-height-base: 40px;
    --brand-box-width-sm: 60px;
    --brand-box-height-sm: 40px;
    --brand-box-width-md: 80px;
    --brand-box-height-md: 50px;
    --brand-box-width-lg: 120px;
    --brand-box-height-lg: 60px;
    --brand-box-width-xl: 120px;
    --brand-box-height-xl: 60px;
    --brand-box-margin-base: 0 0 1rem 0;
    --brand-box-margin-md: 0 0 1rem 0;
    --brand-box-margin-lg: 0 0 1rem 0;
    --brand-hover-color: var(--primary);
    --brands-block-img-padding: 1rem;
    --tab-background: #e9ecef;
    --tab-active-background: #fff;
    --tab-container-background: #e9ecef;
    --tab-container-justify-content: flex-start;
    --tab-active-border-bottom: none;
    --faq-margin-top: 1.75rem;
    --why-choose-features-wrapper-background: none;
    --why-choose-features-sub-heading-font-size-base: 1rem;
    --why-choose-features-wrapper-align-items-base: center;
    --why-choose-features-wrapper-align-items-lg: flex-start;
    --why-choose-features-wrapper-justify-content: flex-start;
    --why-choose-features-features-wrapper-padding: 1rem;
    --why-choose-features-sub-heading-font-size-lg: 1.2rem;
    --why-choose-features-heading-font-size-base: 1.4rem;
    --why-choose-features-heading-font-size-lg: 1.75rem;
    --why-choose-features-heading-font-size-xl: 2rem;
    --why-choose-features-sub-heading-color: var(--primary);
    --why-choose-features-feature-margin-top: 2rem;
    --why-choose-features-features-wrapper-padding: 2rem;
    --why-choose-features-feature-icon-background: #f6f7fb;
    --why-choose-features-sub-heading-margin-bottom: 1rem;
    --why-choose-features-wrapper-margin: 5rem 0;
    --why-choose-features-wrapper-padding-base: 1.25rem;
    --why-choose-features-wrapper-padding-xl: 1rem 2rem;
    --why-choose-features-feature-icon-border: 1px solid #fefefe;
    --why-choose-features-hr-background: var(--primary);
    --modal-background-color: #fff;
    --modal-header-color: var(--dark);
    --finance-container-background: #0030830f;
    --finance-container-color: var(--search-listings-color);
    --carpage-finance-container-background: none;
    --carpage-finance-container-border-radius: var(--border-radius);
    --accessories-primary-color: red;
    --fixed-form-header-height: 64px;
    --buy-online-footer-height: 52px;
    --simple-icon-card-text-container-padding: 1.5rem;
    --simple-icon-card-text-container-height: 100%;
    --market-price-indicator-background: var(--primary);
    --market-price-indicator-background-opacity: 0.2;
    --market-price-indicator-icon-color: var(--primary);
    --market-price-indicator-text-color: #000;
    --market-price-indicator-font-size: 0.75rem;
    --market-price-indicator-border-radius: 0.25rem;
    --top-team-members-card-background-color: #fff;
    --top-team-members-card-border-radius: 15px;
    --top-team-members-card-padding: 2rem 1rem 1.25rem 1rem;
    --top-team-members-card-btn-color: #fff;
    --top-team-members-card-btn-background-color: var(--primary);
    --top-team-members-card-btn-border-radius: 30px;
    --top-team-members-card-img-border-radius: 30px;
    --vehicle-search-form-overlay-background: rgba(0,0,0,.2);
    --stats-font-size: 0.875rem;
    --stats-font-weight: 400;
    --stats-color: inherit;
    --card-block-card-background: rgba(0,0,0,.6);
    --card-block-card-background-hover: rgba(0,0,0,.3);
    --card-block-image-margin-left: -10px;
    --card-block-image-width: calc(100% + 30px);
    --card-dark-background-colour: var(--dark);
    --sales-notification-color: #eb022a;
    --image-background-text-overlay-background: rgba(0,0,0,.6);
    --image-background-text-overlay-text-align: left;
    --image-background-text-overlay-align-items: flex-start;
    --image-background-text-overlay-justify-content: flex-end;
    --image-background-text-overlay-padding: 2rem;
    --image-background-text-image-scale: scale(1.2);
    --image-background-text-image-transition: 800ms ease 0ms;
    --icon-section-fade-gradient: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 88.83%);
    --location-info-tabs-map-height: 330px;
    --features-icon-border: 2px solid var(--primary);
    --features-icon-hover-background: var(--primary);
    --image-banner-overlay-background: transparent;
    --previous-search-card-link-color: var(--primary);
    --previous-search-card-link-hover-color: var(--primary);
    --previous-search-card-icon-color: var(--primary);
    --servicevariant-image-background-overlay: rgba(0,0,0,.75);
    --multiple-xtime-tabs-background-color: #dce4e6;
    --car-type-buttons-sort-button-border-radius: 4px;
    --car-type-buttons-sort-button-border: none;
    --model-menu-width: 1450px;
    --nav-button-text-color: inherit;
    --nav-button-svg-color: var(--primary);
    --nav-button-svg-background: unset;
    --nav-button-svg-hover-color: #fff;
    --nav-button-svg-hover-background: var(--primary);
    --nav-link-whitespace: normal;
    --nav-button-svg-border-color: var(--primary);
    --autogauge-tick: #399447;
    --emergency-banner-background: #ff4d4f;
    --emergency-banner-color: #fff;
    --emergency-banner-padding: 10px 0;
    --emergency-banner-top-spacing: 0;
    --vdp-cta-button: #13236d;
    --vdp-cta-button-hover: #1847c0;
    --vdp-cta-border-size: 1px;
    --disclaimer-terms-and-conditions-colour: inherit;
    --vdp-why-buy-from-us-cta-background: #27276d;
    --vdp-why-buy-from-us-text-color: #fff;
    --vdp-why-buy-from-us-heading-color: var(--light);
    --vdp-car-price-and-background: var(--primary);
    --vdp-car-price-and-text-color: inherit;
    --vdp-car-page-background: linear-gradient(#ff9b2a,#ffc300);
    --vdp-border-radius: 0.5rem;
    --our-locations-cta-border: 0px;
    --my-garage-tabs-background: #fff;
    --my-garage-tabs-border-radius: 3rem;
    --my-garage-tabs-padding: 0.3rem 0.4rem;
    --my-garage-tabs-border: none;
    --my-garage-tabs-box-shadow: hsla(210,8%,62%,.2) 0px 8px 24px;
    --my-garage-tabs-active-background: var(--primary);
    --my-garage-tabs-active-color: #fff;
    --my-garage-tabs-tab-button-hover-background: var(--primary);
    --my-garage-tabs-tab-button-hover-color: #fff;
    --my-garage-tabs-tab-button-background: #fff;
    --my-garage-tabs-tab-button-color: #000;
    --my-garage-tabs-tab-button-padding: 0.5rem;
    --my-garage-tabs-tab-button-border-radius: 3rem;
    --my-garage-tabs-tab-button-border: none;
    --my-garage-service-step-active-color: #000;
    --my-garage-service-step-color: #000;
    --pagination-link-item-selected-background-color: var(--primary);
    --pagination-link-item-selected-border-color: var(--primary);
    --pagination-link-item-selected-color: #fff;
    --pagination-link-item-selected-hover-color: #fff;
    --pagination-link-color: var(--primary);
    --pagination-link-hover-color: var(--primary);
    --item-padding-horizontal-padding-bottom: 0px;
    --user-heading-user-position-text-color: var(--secondary);
    --user-heading-user-bio-text-color: var(--secondary);
    --get-directions-button-background-color: #3074dc;
    --get-directions-hover-background-color: #1847c0;
    --valuation-card-background: #000;
    --valuation-card-title-color: #fff;
    --valuation-card-subtitle-color: #fff;
    --valuation-card-input-background: #6c757d;
    --valuation-card-input-border: none;
    --valuation-card-input-color: #fff;
    --valuation-card-input-placeholder-color: #fff;
    --valuation-card-button-background: #eb0a1e;
    --valuation-card-button-border-color: #eb0a1e;
    --valuation-card-button-color: #fff;
    --valuation-card-button-hover-opacity: 0.9;
    --valuation-card-feature-icon-color: #fff;
    --valuation-card-feature-text-color: #fff;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --grey900: #212529;
    --primary: #fe0009;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}
